<html>
    <head>
        <title>Django Girls tutorial blog</title>
    </head>
    <body>
      <div>
    <h1><a href="/">Django test blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>Publicado el: {{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

    </body>
</html>
